@tailwind base;
@tailwind components;
@tailwind utilities;

body.home-page {
	background-color: aqua;
}

body.login-page {
	background: url("bluepink.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  }